<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Business Model Canvas</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    @page {
      size: A3 landscape;
      margin: 10mm;
    }

    body {
      font-family: Arial, sans-serif;
      padding: 1mm;
    }

    h1 {
      text-align: center;
      font-size: 24pt;
      margin-bottom: 15mm;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    table {
      width: 100%;
      height: 90%;
      border-collapse: collapse;
      table-layout: fixed;
    }

    td {
      border: 2px solid #000;
      padding: 15px;
      vertical-align: top;
    }

    @media print {
      td {
        border: 3px solid #000 !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
      }
    }

    td em {
      display: block;
      font-style: normal;
      font-size: 10px;
      line-height: 1.6;
      color: #363636;
    }

    .box-title {
      font-weight: 400;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14pt;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    .box-title>span>svg {
      height: 32px;
      width: 32px;
    }

    @media print {
      body {
        padding: 0;
      }

      h1 {
        page-break-after: avoid;
      }

      table {
        page-break-inside: avoid;
      }
    }
  </style>
</head>

<body>
  <h1>Business Model Canvas</h1>
  <table>
    <tr>
      <td rowspan="2">
        <p class="box-title">
          Key Partners
          <span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.94356 12.9336C10.373 13.5077 10.9209 13.9827 11.5501 14.3265C12.1793 14.6703 12.8751 14.8747 13.5902 14.9259C14.3054 14.9771 15.0231 14.8739 15.6949 14.6233C16.3667 14.3728 16.9767 13.9806 17.4836 13.4736L20.4836 10.4736C21.3943 9.53055 21.8983 8.26754 21.8869 6.95655C21.8755 5.64557 21.3497 4.39151 20.4227 3.46447C19.4956 2.53743 18.2415 2.01158 16.9306 2.00019C15.6196 1.9888 14.3566 2.49277 13.4136 3.40356L11.6936 5.11356"
                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M13.9436 10.9348C13.5141 10.3607 12.9662 9.88561 12.337 9.54186C11.7078 9.1981 11.0121 8.99368 10.2969 8.94246C9.58177 8.89124 8.86397 8.99443 8.19221 9.24501C7.52045 9.4956 6.91044 9.88773 6.40356 10.3948L3.40356 13.3948C2.49277 14.3378 1.9888 15.6008 2.00019 16.9118C2.01158 18.2228 2.53743 19.4768 3.46447 20.4039C4.39151 21.3309 5.64557 21.8568 6.95655 21.8682C8.26754 21.8796 9.53055 21.3756 10.4736 20.4648L12.1836 18.7548"
                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </span>
        </p>
        <em>
          {{keyPartners}}
        </em>
      </td>
      <td>
        <p class="box-title">
          Key Activities
          <span>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10 17L6 13L7.41 11.59L10 14.17L16.59 7.58L18 9M12 1L3 5V11C3 16.55 6.84 21.74 12 23C17.16 21.74 21 16.55 21 11V5L12 1Z"
                fill="black" />
            </svg>
          </span>
        </p>
        <em>
          {{keyActivities}}
        </em>
      </td>
      <td rowspan="2">
        <p class="box-title">
          Value Propositions
          <span>
            <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.7053 20.125L2.12198 8.625L4.99698 2.875H18.4136L21.2886 8.625L11.7053 20.125ZM9.42927 7.66667H13.9814L12.5439 4.79167H10.8668L9.42927 7.66667ZM10.747 15.9802V9.58333H5.42823L10.747 15.9802ZM12.6636 15.9802L17.9824 9.58333H12.6636V15.9802ZM16.1136 7.66667H18.6532L17.2157 4.79167H14.6761L16.1136 7.66667ZM4.7574 7.66667H7.29698L8.73448 4.79167H6.1949L4.7574 7.66667Z"
                fill="black" />
            </svg>
          </span>
        </p>
        <em>
          {{valuePropositions}}
        </em>
      </td>
      <td>
        <p class="box-title">
          Customer Relationships
          <span>
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_3226_2848)">
                <path
                  d="M7.00153 9.33533C6.79973 8.86236 6.4942 8.44079 6.10753 8.1018C5.72086 7.76281 5.26294 7.51507 4.76762 7.37689C4.27231 7.23872 3.75227 7.21365 3.24596 7.30353C2.73965 7.39341 2.26002 7.59595 1.84253 7.89617M14.9985 9.33533C15.2003 8.86236 15.5059 8.44079 15.8925 8.1018C16.2792 7.76281 16.7371 7.51507 17.2324 7.37689C17.7277 7.23872 18.2478 7.21365 18.7541 7.30353C19.2604 7.39341 19.74 7.59595 20.1575 7.89617M1.84253 4.67683C1.84253 5.2078 2.05345 5.71701 2.4289 6.09246C2.80435 6.46791 3.31357 6.67883 3.84453 6.67883C4.37549 6.67883 4.88471 6.46791 5.26016 6.09246C5.6356 5.71701 5.84653 5.2078 5.84653 4.67683C5.84653 4.14587 5.6356 3.63665 5.26016 3.26121C4.88471 2.88576 4.37549 2.67483 3.84453 2.67483C3.31357 2.67483 2.80435 2.88576 2.4289 3.26121C2.05345 3.63665 1.84253 4.14587 1.84253 4.67683ZM16.1535 4.67683C16.1535 5.2078 16.3645 5.71701 16.7399 6.09246C17.1153 6.46791 17.6246 6.67883 18.1555 6.67883C18.6865 6.67883 19.1957 6.46791 19.5712 6.09246C19.9466 5.71701 20.1575 5.2078 20.1575 4.67683C20.1575 4.14587 19.9466 3.63665 19.5712 3.26121C19.1957 2.88576 18.6865 2.67483 18.1555 2.67483C17.6246 2.67483 17.1153 2.88576 16.7399 3.26121C16.3645 3.63665 16.1535 4.14587 16.1535 4.67683ZM7.94111 3.74642C7.94111 4.14812 8.02023 4.54589 8.17396 4.91701C8.32768 5.28814 8.553 5.62535 8.83705 5.9094C9.12109 6.19344 9.45831 6.41876 9.82943 6.57249C10.2006 6.72621 10.5983 6.80533 11 6.80533C11.4017 6.80533 11.7995 6.72621 12.1706 6.57249C12.5418 6.41876 12.879 6.19344 13.163 5.9094C13.4471 5.62535 13.6724 5.28814 13.8261 4.91701C13.9798 4.54589 14.0589 4.14812 14.0589 3.74642C14.0589 2.93514 13.7367 2.15709 13.163 1.58344C12.5894 1.00978 11.8113 0.6875 11 0.6875C10.1888 0.6875 9.41071 1.00978 8.83705 1.58344C8.26339 2.15709 7.94111 2.93514 7.94111 3.74642Z"
                  stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M16.292 10.5067C15.6213 9.77 14.8041 9.18144 13.8929 8.77872C12.9816 8.37599 11.9963 8.16797 11 8.16797C10.0038 8.16797 9.01846 8.37599 8.1072 8.77872C7.19595 9.18144 6.37882 9.77 5.70813 10.5067M14.6255 12.7031C14.6103 13.6547 14.2217 14.5623 13.5433 15.2299C12.865 15.8975 11.9514 16.2717 10.9996 16.2717C10.0478 16.2717 9.13419 15.8975 8.45585 15.2299C7.77751 14.5623 7.38884 13.6547 7.37371 12.7031"
                  stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M19.6112 12.6992V14.0623L18.0529 14.374C17.8735 15.1296 17.5723 15.851 17.161 16.5098L18.0492 17.8335L16.1242 19.7585L14.8015 18.8702C14.1419 19.2838 13.4192 19.587 12.662 19.7676L12.354 21.3177H9.64062L9.3317 19.7676C8.57475 19.5869 7.85239 19.2837 7.19312 18.8702L5.8667 19.7548L3.9417 17.8298L4.82995 16.5061C4.4183 15.8474 4.11674 15.126 3.93712 14.3703L2.37878 14.0586V12.6992"
                  stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath id="clip0_3226_2848">
                  <rect width="22" height="22" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </span>
        </p>
        <em>
          {{customerRelationships}}
        </em>
      </td>
      <td rowspan="2">
        <p class="box-title">
          Customer Segments
          <span><svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M28.8251 20.678C28.7343 20.5731 28.6219 20.489 28.4958 20.4314C28.3696 20.3737 28.2325 20.3438 28.0937 20.3438H26.1562V18.4062C26.1562 17.3387 25.2873 16.4688 24.2187 16.4688H20.3437C19.2752 16.4688 18.4062 17.3387 18.4062 18.4062V20.3438H16.4687C16.3299 20.3437 16.1927 20.3736 16.0663 20.4312C15.94 20.4889 15.8276 20.573 15.7366 20.6779C15.6457 20.7829 15.5783 20.9061 15.5392 21.0393C15.5 21.1725 15.49 21.3126 15.5097 21.4501L16.4784 28.2313C16.5115 28.4621 16.6267 28.6731 16.8029 28.8258C16.9791 28.9785 17.2044 29.0625 17.4375 29.0625H27.125C27.3581 29.0625 27.5834 28.9785 27.7596 28.8258C27.9357 28.6731 28.051 28.4621 28.0841 28.2313L29.0528 21.4501C29.0724 21.3126 29.0622 21.1725 29.023 21.0392C28.9837 20.906 28.9162 20.7828 28.8251 20.678ZM20.3437 18.4062H24.2187V20.3438H20.3437V18.4062ZM26.2851 27.125H18.2774L17.5857 22.2812H26.9768L26.2851 27.125ZM9.6875 19.375H11.625V29.0625H9.6875V19.375Z"
                fill="#2E2E2E" />
              <path
                d="M16.2556 17.3164L14.4092 15.0069L13.0123 11.5146C12.7976 10.9744 12.4255 10.5113 11.9441 10.1854C11.4628 9.85958 10.8946 9.68609 10.3133 9.6875H4.84375C3.24144 9.6875 1.9375 10.9914 1.9375 12.5938V19.375C1.9375 20.4435 2.80647 21.3125 3.875 21.3125H4.84375V29.0625H6.78125V19.375H3.875V12.5938C3.875 12.3368 3.97707 12.0904 4.15874 11.9087C4.34042 11.7271 4.58682 11.625 4.84375 11.625H10.3133C10.7115 11.625 11.0651 11.8643 11.2123 12.2343L12.8059 16.1055L14.7434 18.5273L16.2556 17.3164ZM3.875 4.84375C3.875 2.70669 5.61294 0.96875 7.75 0.96875C9.88707 0.96875 11.625 2.70669 11.625 4.84375C11.625 6.98081 9.88707 8.71875 7.75 8.71875C5.61294 8.71875 3.875 6.98081 3.875 4.84375ZM5.8125 4.84375C5.8125 5.91228 6.68147 6.78125 7.75 6.78125C8.81853 6.78125 9.6875 5.91228 9.6875 4.84375C9.6875 3.77522 8.81853 2.90625 7.75 2.90625C6.68147 2.90625 5.8125 3.77522 5.8125 4.84375Z"
                fill="#2E2E2E" />
            </svg>
          </span>
        </p>
        <em>
          {{customerSegments}}
        </em>
      </td>
    </tr>
    <tr>
      <td>
        <p class="box-title">
          Key Resources
          <span>
            <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_3226_2842)">
                <path
                  d="M20.9987 21.6562C20.7009 20.5086 20.0551 19.4892 19.1555 18.7471C18.2559 18.0049 17.1498 17.5789 15.9987 17.5312C14.8476 17.5789 13.7414 18.0049 12.8418 18.7471C11.9423 19.4892 11.2964 20.5086 10.9987 21.6562M22 5.775C23.8265 6.86429 25.3437 8.42893 26.4 10.3125M26.4 22.6875C25.3437 24.5711 23.8265 26.1357 22 27.225M10 27.225C8.1735 26.1357 6.65628 24.5711 5.6 22.6875M5.6 10.3125C6.65628 8.42893 8.1735 6.86429 10 5.775M12.9987 13.4062C12.9902 13.8179 13.0616 14.2272 13.2086 14.6101C13.3555 14.9929 13.5751 15.3417 13.8544 15.6359C14.1338 15.9301 14.4673 16.1639 14.8354 16.3234C15.2034 16.483 15.5987 16.5652 15.998 16.5652C16.3973 16.5652 16.7926 16.483 17.1606 16.3234C17.5287 16.1639 17.8622 15.9301 18.1416 15.6359C18.4209 15.3417 18.6405 14.9929 18.7874 14.6101C18.9344 14.2272 19.0058 13.8179 18.9973 13.4062C18.9808 12.5972 18.6575 11.8271 18.0968 11.2609C17.5362 10.6948 16.7827 10.3777 15.998 10.3777C15.2133 10.3777 14.4598 10.6948 13.8992 11.2609C13.3385 11.8271 13.0152 12.5972 12.9987 13.4062ZM13.4987 3.60938C13.4987 4.29314 13.7621 4.94889 14.2309 5.43238C14.6997 5.91588 15.3356 6.1875 15.9987 6.1875C16.6617 6.1875 17.2976 5.91588 17.7664 5.43238C18.2353 4.94889 18.4987 4.29314 18.4987 3.60938C18.4987 2.92561 18.2353 2.26986 17.7664 1.78637C17.2976 1.30287 16.6617 1.03125 15.9987 1.03125C15.3356 1.03125 14.6997 1.30287 14.2309 1.78637C13.7621 2.26986 13.4987 2.92561 13.4987 3.60938ZM25.9987 16.5C25.9987 17.1838 26.2621 17.8395 26.7309 18.323C27.1997 18.8065 27.8356 19.0781 28.4987 19.0781C29.1617 19.0781 29.7976 18.8065 30.2664 18.323C30.7353 17.8395 30.9987 17.1838 30.9987 16.5C30.9987 15.8162 30.7353 15.1605 30.2664 14.677C29.7976 14.1935 29.1617 13.9219 28.4987 13.9219C27.8356 13.9219 27.1997 14.1935 26.7309 14.677C26.2621 15.1605 25.9987 15.8162 25.9987 16.5ZM13.4987 29.3906C13.4987 30.0744 13.7621 30.7301 14.2309 31.2136C14.6997 31.6971 15.3356 31.9688 15.9987 31.9688C16.6617 31.9688 17.2976 31.6971 17.7664 31.2136C18.2353 30.7301 18.4987 30.0744 18.4987 29.3906C18.4987 28.7069 18.2353 28.0511 17.7664 27.5676C17.2976 27.0841 16.6617 26.8125 15.9987 26.8125C15.3356 26.8125 14.6997 27.0841 14.2309 27.5676C13.7621 28.0511 13.4987 28.7069 13.4987 29.3906ZM0.998665 16.5C0.998665 17.1838 1.26206 17.8395 1.7309 18.323C2.19974 18.8065 2.83562 19.0781 3.49866 19.0781C4.16171 19.0781 4.79759 18.8065 5.26643 18.323C5.73527 17.8395 5.99867 17.1838 5.99867 16.5C5.99867 15.8162 5.73527 15.1605 5.26643 14.677C4.79759 14.1935 4.16171 13.9219 3.49866 13.9219C2.83562 13.9219 2.19974 14.1935 1.7309 14.677C1.26206 15.1605 0.998665 15.8162 0.998665 16.5Z"
                  stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              </g>
              <defs>
                <clipPath id="clip0_3226_2842">
                  <rect width="32" height="33" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </span>
        </p>
        <em>
          {{keyResources}}
        </em>
      </td>
      <td>
        <p class="box-title">
          Channels
          <span>
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M23.3334 18.6674C22.6092 18.6711 21.904 18.8994 21.315 19.3207L18.4567 17.6291C18.5923 17.2106 18.6631 16.7739 18.6667 16.3341C18.6633 15.3021 18.318 14.3003 17.6847 13.4855C17.0514 12.6706 16.1659 12.0887 15.1667 11.8307V9.12405C15.9451 8.84884 16.6012 8.3073 17.0189 7.59516C17.4367 6.88301 17.5892 6.04611 17.4496 5.23236C17.31 4.41862 16.8872 3.68043 16.256 3.14826C15.6247 2.6161 14.8257 2.32422 14 2.32422C13.1744 2.32422 12.3753 2.6161 11.7441 3.14826C11.1128 3.68043 10.69 4.41862 10.5504 5.23236C10.4108 6.04611 10.5634 6.88301 10.9811 7.59516C11.3989 8.3073 12.0549 8.84884 12.8334 9.12405V11.8307C11.8341 12.0887 10.9486 12.6706 10.3153 13.4855C9.68204 14.3003 9.33671 15.3021 9.33336 16.3341C9.33697 16.7739 9.40779 17.2106 9.54336 17.6291L6.68502 19.3207C6.09604 18.8994 5.39086 18.6711 4.66669 18.6674C3.97445 18.6674 3.29777 18.8727 2.72219 19.2572C2.14662 19.6418 1.69802 20.1885 1.43311 20.828C1.1682 21.4675 1.09889 22.1713 1.23394 22.8502C1.36899 23.5291 1.70233 24.1528 2.19181 24.6423C2.6813 25.1317 3.30494 25.4651 3.98387 25.6001C4.66281 25.7352 5.36654 25.6659 6.00608 25.401C6.64562 25.1361 7.19225 24.6875 7.57683 24.1119C7.96142 23.5363 8.16669 22.8596 8.16669 22.1674C8.16237 21.8514 8.11528 21.5374 8.02669 21.2341L10.71 19.6357C11.5844 20.5049 12.7672 20.9928 14 20.9928C15.2329 20.9928 16.4157 20.5049 17.29 19.6357L19.9734 21.2341C19.7779 21.9406 19.8092 22.6907 20.0628 23.3785C20.3165 24.0663 20.7797 24.657 21.3872 25.0675C21.9946 25.4779 22.7156 25.6872 23.4483 25.6659C24.1811 25.6446 24.8887 25.3937 25.4713 24.9487C26.0538 24.5037 26.482 23.887 26.6952 23.1856C26.9085 22.4843 26.8962 21.7336 26.66 21.0396C26.4238 20.3456 25.9756 19.7433 25.3787 19.3177C24.7819 18.8921 24.0664 18.6646 23.3334 18.6674ZM4.66669 23.3341C4.43594 23.3341 4.21038 23.2656 4.01852 23.1374C3.82667 23.0092 3.67713 22.827 3.58883 22.6138C3.50053 22.4007 3.47742 22.1661 3.52244 21.9398C3.56746 21.7135 3.67857 21.5056 3.84173 21.3424C4.00489 21.1793 4.21277 21.0682 4.43908 21.0231C4.66539 20.9781 4.89997 21.0012 5.11315 21.0895C5.32633 21.1778 5.50854 21.3274 5.63674 21.5192C5.76493 21.7111 5.83336 21.9366 5.83336 22.1674C5.83336 22.4768 5.71044 22.7736 5.49165 22.9923C5.27285 23.2111 4.97611 23.3341 4.66669 23.3341ZM14 4.66738C14.2308 4.66738 14.4563 4.73581 14.6482 4.864C14.84 4.9922 14.9896 5.17441 15.0779 5.38759C15.1662 5.60077 15.1893 5.83534 15.1443 6.06166C15.0993 6.28797 14.9881 6.49585 14.825 6.65901C14.6618 6.82217 14.4539 6.93328 14.2276 6.9783C14.0013 7.02332 13.7667 7.00021 13.5536 6.91191C13.3404 6.82361 13.1582 6.67407 13.03 6.48222C12.9018 6.29036 12.8334 6.0648 12.8334 5.83405C12.8334 5.52463 12.9563 5.22789 13.1751 5.00909C13.3939 4.7903 13.6906 4.66738 14 4.66738ZM14 18.6674C13.5385 18.6674 13.0874 18.5305 12.7037 18.2741C12.32 18.0178 12.0209 17.6533 11.8443 17.227C11.6677 16.8006 11.6215 16.3315 11.7115 15.8788C11.8016 15.4262 12.0238 15.0105 12.3501 14.6841C12.6764 14.3578 13.0922 14.1356 13.5448 14.0456C13.9974 13.9555 14.4666 14.0017 14.893 14.1783C15.3193 14.3549 15.6837 14.654 15.9401 15.0377C16.1965 15.4214 16.3334 15.8726 16.3334 16.3341C16.3334 16.9529 16.0875 17.5464 15.6499 17.984C15.2124 18.4216 14.6189 18.6674 14 18.6674ZM23.3334 23.3341C23.1026 23.3341 22.877 23.2656 22.6852 23.1374C22.4933 23.0092 22.3438 22.827 22.2555 22.6138C22.1672 22.4007 22.1441 22.1661 22.1891 21.9398C22.2341 21.7135 22.3452 21.5056 22.5084 21.3424C22.6716 21.1793 22.8794 21.0682 23.1058 21.0231C23.3321 20.9781 23.5666 21.0012 23.7798 21.0895C23.993 21.1778 24.1752 21.3274 24.3034 21.5192C24.4316 21.7111 24.5 21.9366 24.5 22.1674C24.5 22.4768 24.3771 22.7736 24.1583 22.9923C23.9395 23.2111 23.6428 23.3341 23.3334 23.3341Z"
                fill="black" />
            </svg>
          </span>
        </p>
        <em>
          {{channels}}
        </em>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <p class="box-title">
          Cost Structure
          <span>
            <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_3226_2862)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M26.5938 32.375C32.3519 32.375 37 30.0625 37 26.5938V4.625C37 2.3125 32.375 0 26.5938 0C20.8125 0 16.1875 2.3125 16.1875 4.625V12.7188C18.8931 13.8519 21.2056 15.7481 22.8475 18.1531C23.9806 18.3751 25.2294 18.4977 26.5938 18.4977C29.6231 18.4977 32.1438 17.8941 33.9475 16.9113C34.2036 16.7706 34.4528 16.6178 34.6944 16.4534V19.6447C34.6944 20.1881 34.262 21.0322 32.8398 21.8092C31.4616 22.5607 29.3479 23.1134 26.5961 23.1134C26.0457 23.1134 25.5215 23.0926 25.0236 23.051C25.2086 23.811 25.3319 24.5896 25.3936 25.3866C25.7836 25.4082 26.1844 25.419 26.5961 25.419C29.6254 25.419 32.1461 24.8154 33.9498 23.8326C34.2059 23.6919 34.4551 23.5391 34.6967 23.3748V26.566C34.6967 27.1117 34.3522 27.9211 32.8676 28.7213C31.4061 29.5075 29.2138 30.0347 26.6007 30.0347C26.0688 30.0347 25.5539 30.0132 25.0559 29.97C24.8782 30.7386 24.6392 31.4918 24.3414 32.2224C25.069 32.3041 25.8214 32.3449 26.5984 32.3449L26.5938 32.375ZM32.8375 14.8925C34.2597 14.1155 34.6921 13.2714 34.6921 12.728V9.53675C34.4532 9.70017 34.2042 9.85279 33.9452 9.99463C32.1461 10.9774 29.6208 11.581 26.5914 11.581C23.5621 11.581 21.0414 10.9774 19.2377 9.99463C18.9816 9.85388 18.7324 9.70109 18.4907 9.53675V12.728C18.4907 13.2714 18.9232 14.1155 20.3454 14.8902C21.7236 15.6418 23.8373 16.1944 26.5891 16.1944C29.341 16.1944 31.4454 15.6418 32.8329 14.8902L32.8375 14.8925ZM18.5 5.78125C18.5 5.11525 18.7891 4.47469 19.3279 4.08388C19.6216 3.87112 19.9407 3.65837 20.1928 3.54275C20.8241 3.25137 23.9852 2.31019 26.5984 2.31019C29.2115 2.31019 31.4778 2.83512 33.004 3.54275C33.2908 3.67456 33.6076 3.88038 33.8874 4.08388C34.4216 4.47006 34.6967 5.106 34.6967 5.76506V5.77894C34.6967 6.32238 34.2643 7.16644 32.8421 7.94344C31.4639 8.695 29.3503 9.24769 26.5984 9.24769C23.8465 9.24769 21.7421 8.69269 20.3546 7.94344C18.9324 7.16875 18.5 6.32237 18.5 5.78125Z"
                  fill="#3A3A3A" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M20.8125 26.5938C20.8125 32.3519 16.1644 37 10.4062 37C4.64813 37 0 32.3519 0 26.5938C0 20.8356 4.64813 16.1875 10.4062 16.1875C16.1644 16.1875 20.8125 20.8356 20.8125 26.5938ZM18.5 26.5938C18.5 31.0569 14.8694 34.6875 10.4062 34.6875C5.94313 34.6875 2.3125 31.0569 2.3125 26.5938C2.3125 22.1306 5.94313 18.5 10.4062 18.5C14.8694 18.5 18.5 22.1306 18.5 26.5938Z"
                  fill="#3A3A3A" />
              </g>
              <defs>
                <clipPath id="clip0_3226_2862">
                  <rect width="37" height="37" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </span>
        </p>
        <em>
          {{costStructure}}
        </em>
      </td>
      <td colspan="3">
        <p class="box-title">
          Revenue Streams
          <span>
            <svg width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M31.875 17.8117L33.1088 17.1949C36.7575 15.3705 38.5837 14.4574 39.915 15.2824C41.25 16.1074 41.25 18.1474 41.25 22.2255V22.773C41.25 26.853 41.25 28.8911 39.9169 29.7161C38.5819 30.5411 36.7575 29.628 33.1106 27.8036L31.875 27.1867V17.8117Z"
                stroke="#3A3A3A" stroke-width="1.5" />
              <path d="M17.8125 29.0625V15.9375M17.8125 15.9375L22.5 21.5625M17.8125 15.9375L13.125 21.5625"
                stroke="#3A3A3A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M3.75 21.5625V23.4375C3.75 29.6006 3.75 32.6831 5.4525 34.7587C5.76392 35.1382 6.11184 35.4861 6.49125 35.7975C8.56875 37.5 11.6475 37.5 17.8125 37.5C23.9756 37.5 27.0581 37.5 29.1338 35.7975C29.5138 35.485 29.86 35.1387 30.1725 34.7587C31.875 32.6812 31.875 29.6025 31.875 23.4375V21.5625C31.875 15.3994 31.875 12.3169 30.1725 10.2412C29.8611 9.86184 29.5132 9.51392 29.1338 9.2025C27.0563 7.5 23.9775 7.5 17.8125 7.5C11.6494 7.5 8.56687 7.5 6.49125 9.2025C6.11184 9.51392 5.76392 9.86184 5.4525 10.2412C4.65 11.22 4.22625 12.42 4.00125 14.0625"
                stroke="#3A3A3A" stroke-width="1.5" stroke-linecap="round" />
            </svg>
          </span>
        </p>
        <em>
          {{revenueStreams}}
        </em>
      </td>
    </tr>
  </table>
</body>

</html>