<p>Dear {{name}},</p>

<p>Welcome to <strong>TruPreneurs.AI</strong>! Your account has been successfully created. You can log in using the following
  credentials:</p>

<ul>
  <li><strong>Username (Email):</strong> {{email}}</li>
  <li><strong>Password:</strong> {{password}}</li>
</ul>

<p>For your security, please log in and change your password as soon as possible.</p>

<p>
  <a href="{{loginUrl}}" target="_blank">Login</a>
</p>

<p>If the button above does not work, copy and paste this link into your browser:</p>
<p><a href="{{loginUrl}}" target="_blank">{{loginUrl}}</a></p>

<p>We’re excited to have you onboard. Let us know if you need any help getting started.</p>

<p>
  Best regards,<br />
  TruPreneurs.AI
</p>